<!DOCTYPE html>
<html lang="en">
  <head>
      <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <div id = message_container>
    <% if (verification) {  %>
      <h1><%= verification %><h1>
    <% } %>
    <div>
  </body>
</html>
