body, html {
  margin:0;
  padding:0;
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

#message_container {
  margin:0;
  padding:0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 200%;
  text-align: center;
  line-height: 1.6;
}
